{{define "base"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Resume</title>

    <link rel="stylesheet" href="/static/css/ma-own-styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Cardo"
      rel="stylesheet"
    />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    {{template "header" .}} {{template "body" .}} {{template "footer" .}}

    <script type="text/JavaScript" src="../static/js/script.js"></script>
  </body>
</html>

{{end}}
