{{template "base" .}}

<!--  -->

{{define "body"}}
<h1>Shaimerdenov Riza-Mukhammed</h1>
<section>
  <p>male, 25 years, born 29 October 1998</p>
</section>

<section>
  <h5>Contacts</h5>
  <p>+7-771-535-80-19</p>
  <p>sajmerdenr@gmail.com - preferred means of communication</p>
</section>

<section>
  <p>
    Kostanay, willing to relocate (within Kazakhstan), prepared for business
    trips
  </p>
</section>

<section>
  <h3>Intern Golang developer</h3>
  <h3>70 000 tenge in hand</h3>

  <p>Specializations:</p>
  <ul>
    <li>Golang</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>basics of SQL</li>
    <li>basics of C</li>
  </ul>
</section>

<section>
  <h3>About me</h3>
  <p>
    Studied at Nazarbayev University (School of Science and Humanities, bachelor
    of Chemistry), but left the university with an intent to study and enter IT
    sphere. In general, my goal is to work as a software or web developer.
    Programming language is not even that important to me, I just like solving
    programming problems, working with algorithms and code.
  </p>
</section>

<section>
  <h3>Education</h3>
  <p>
    Nazarbayev University: 2018 - 2021 (left the university on the 3-rd year)
  </p>
</section>

<section>
  <h3>Languages</h3>
  <p>Kazakh - native</p>
  <p>English - C1 - Advanced</p>
  <p>Russian - C2 - Proficiency</p>
</section>

<section>
  <h3>Citizenship</h3>
  <p>Citizenship: Kazakhstan</p>
  <p>Permission to work: Kazakhstan</p>
  <p>Desired travel time to work: doesn't matter</p>
</section>
{{end}}
