#header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
}

#header label {
  flex-grow: 1;
  text-align: center;
  background-color: rgb(250, 235, 215);
}

#header label:hover {
  cursor: pointer;
}

#header input[type="radio"] {
  display: none;
  /* position: absolute;
  opacity: 0; */
}

#RadioPage1:checked + #LabelPage1,
#RadioPage2:checked + #LabelPage2 {
  background-color: rgb(230, 205, 185);
}

i {
  width: 4vh;
}

/*  */
/*  */
/*  */

/* Tooltip container */
.tooltip {
  /* position: relative; */
  /* display: inline-block; */
  /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
  border-radius: 0;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
